<div class="locale-switcher-inline">
    {% for loc in locale.allowed %}
    {% if not loop.first %}|{% endif %}
    {% if loc == locale.current %}
    <span>{{ loc | upper }}</span>
    {% else %}
    <a href="/{{ loc }}" onclick="return switchLocale('{{ loc }}')">{{ loc | upper }}</a>
    {% endif %}
    {% endfor %}
</div>

<script>
    // @formatter:off
    function switchLocale(targetLocale) {
        const allowed = {{ locale.allowed | dump | safe }};
        const path = window.location.pathname;
        const current = allowed.find(loc => path === `/${loc}` || path.startsWith(`/${loc}/`));
        let basePath = path;

        if (current) {
            basePath = path.replace(new RegExp(`^/${current}`), '');
        }
        window.location.href = `/${targetLocale}${basePath || '/'}`;
        return false;
    }
    // @formatter:on
</script>