# TeqCMS Markdown publications and HTML projections
TEQ_CMS__BASE_URL=https://cms.teqfw.com
TEQ_CMS__PUBLICATION_FAMILIES=[{"prefix":"v2","presentation":"publication.html"},{"prefix":"docs","presentation":"publication.html"},{"prefix":"features","presentation":"publication.html"},{"prefix":"pages","presentation":"publication.html"}]
TEQFW_TMPL__ALLOWED_LOCALES=en,ru
TEQFW_TMPL__DEFAULT_LOCALE=en
TEQFW_TMPL__ENGINE=nunjucks
TEQFW_WEB__PORT=3000
TEQFW_WEB__TYPE=http
