# Demo configuration for teq-cms standalone server
TEQ_CMS__AI_API_BASE_URL=https://api.openai.com/v1
TEQ_CMS__AI_API_KEY=sk-xxx
TEQ_CMS__AI_API_MODEL=gpt-4o-mini
TEQ_CMS__AI_API_ORG=org-xxx
TEQ_CMS__BASE_URL=https://cms.teqfw.com
TEQ_CMS__LOCALE_BASE_TRANSLATE=ru
TEQFW_TMPL__ALLOWED_LOCALES=en,es,ru
TEQFW_TMPL__DEFAULT_LOCALE=en
TEQFW_TMPL__ENGINE=nunjucks
TEQFW_WEB__PORT=3000
TEQFW_WEB__TYPE=http
